<template>
  <div class="flex flex-wrap-reverse w-100">
    <div class="w-40-ns w-100 pa1">
      <el-form class="pv1 ph3 ba b--black-10" ref="templateForm" :model="template">
        <h3 class="ttu ma0 tc green">Editing template demo</h3>
        <h6 class="ma0 tc light-green">@thanhnp95</h6>
        <el-form-item class="mb1" v-for="(field, index) in template.fields" :key="index" :label="field.name">
          <el-input v-model="field.value" />
        </el-form-item>
      </el-form>
    </div>
    <div class="w-60-ns w-100 pa1">
      <app-template class="mb3" :template="template" />
      <label class="b black-60">JSON:</label>
      <textarea class="mb3 w-100" v-text="templateJSON"></textarea>
      <p class="ma0 w-100">
        <b class="black-60">JSON length:</b> {{ templateJSON.length }}</p>
    </div>
  </div>
</template>

<script>
import Template from "./Template.vue";

export default {
  computed: {
    templateJSON: function() {
      return JSON.stringify(this.template);
    }
  },
  components: {
    appTemplate: Template
  },
  props: {
    template: Object
  }
};
</script>
