<template>
  <div class="" :style="template.theme">
    <div v-for="(field, index) in template.fields" :key="index">
      <div v-if="field.type === 'image'" :style="Object.assign({ backgroundImage: `url(${field.value})` }, ...field.style )" />
      <div v-if="field.type === 'text'" :style="field.style">{{ field.value }}</div>
      <div v-if="field.type === 'array'" :style="field.style">
        <div v-if="field.value" v-for="(item, index) in field.value.split(',')" :key="index" :style="field.itemStyle">
          {{ item }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    template: Object
  }
};
</script>
