<template>
  <div class="w-100">
    <div class="mb3" v-if="!selected">
      <h3 class="ttu ma0 tc green">Selecting template demo</h3>
      <h6 class="ma0 tc light-green">@thanhnp95</h6>
    </div>
    <template-editor v-if="selected" :template="selectedTemplate" />
    <div v-if="!selected" class="flex flex-wrap w-100">
      <a class="w-50-ns w-100 pa1 pointer" v-for="template in templates" :key="template.id" @click="setTemplate(template.id)">
        <app-template :template="template" />
      </a>
    </div>
    <el-button type="warning" class="w-100 mv3" v-if="selected" @click="setTemplate(false)">Back</el-button>
  </div>
</template>

<script>
import TemplateEditor from "./ThemeEditor/TemplateEditor.vue";
import Template from "./ThemeEditor/Template.vue";

export default {
  data: () => ({
    selected: false,
    templates: [
      {
        id: 1,
        theme: {
          position: "relative",
          color: "yellow",
          width: "100%",
          paddingBottom: "56.25%",
          backgroundSize: "cover",
          backgroundImage:
            'url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")',
          backgroundPosition: "center",
          backgroundRepeat: "no-repeat"
        },
        fields: [
          {
            type: "image",
            name: "Avatar URL",
            value:
              "https://webbachthang.com/wp-content/uploads/2017/12/avatar-la-gi-01.jpg",
            style: {
              position: "absolute",
              bottom: "0%",
              left: "4%",
              width: "34%",
              height: "92%",
              backgroundSize: "cover",
              backgroundPosition: "center",
              backgroundRepeat: "no-repeat"
            }
          },
          {
            type: "text",
            name: "Full name",
            value: "Thanh Nguyen",
            style: {
              position: "absolute",
              display: "block",
              textTransform: "uppercase",
              fontSize: "3vw",
              top: "32%",
              right: "4%"
            }
          },
          {
            type: "text",
            name: "Position",
            value: "Developer",
            style: {
              position: "absolute",
              fontSize: "2vw",
              top: "44%",
              right: "4%"
            }
          },
          {
            type: "text",
            name: "Email",
            value: "thanhnp95@gmail.com",
            style: {
              position: "absolute",
              fontSize: "2vw",
              top: "68%",
              right: "4%"
            }
          },
          {
            type: "text",
            name: "Phone",
            value: "0916900931",
            style: {
              position: "absolute",
              fontSize: "2vw",
              top: "76%",
              right: "4%"
            }
          },
          {
            type: "text",
            name: "Address",
            value: "Ho Chi Minh, Viet Nam",
            style: {
              position: "absolute",
              fontSize: "2vw",
              top: "84%",
              right: "4%"
            }
          }
        ]
      },
      {
        id: 2,
        theme: {
          position: "relative",
          color: "white",
          width: "100%",
          paddingBottom: "56.25%",
          backgroundSize: "cover",
          backgroundImage: 'url("https://i.imgur.com/GbzIpr8.jpg")',
          backgroundPosition: "center",
          backgroundRepeat: "no-repeat"
        },
        fields: [
          {
            type: "array",
            name: "Hobbies",
            value: "Soccer, Music, Video games",
            style: {
              position: "absolute",
              fontSize: "2vw",
              top: "0%",
              left: "0%",
              width: "60%",
              display: "table"
            },
            itemStyle: {
              width: "33.33%",
              display: "table-cell",
              textAlign: "center",
              padding: "16% 0",
              verticalAlign: "middle",
              backgroundImage: 'url("https://i.imgur.com/mh3v5MQ.png")',
              backgroundSize: "contain",
              backgroundPosition: "center",
              backgroundRepeat: "no-repeat"
            }
          },
          {
            type: "text",
            name: "Full name",
            value: "Thanh Nguyen",
            style: {
              position: "absolute",
              textTransform: "uppercase",
              fontSize: "3vw",
              top: "48%",
              left: "8%"
            }
          },
          {
            type: "text",
            name: "Nick name",
            value: "Cu li",
            style: {
              position: "absolute",
              transform: "rotate(-25deg)",
              transformOrigin: "center",
              fontSize: "1.5vw",
              color: "black",
              top: "32%",
              right: "7%",
              width: "24%",
              textAlign: "center"
            }
          },
          {
            type: "text",
            name: "Email",
            value: "thanhnp95@gmail.com",
            style: {
              position: "absolute",
              fontSize: "1.5vw",
              top: "60%",
              left: "8%"
            }
          },
          {
            type: "text",
            name: "Phone",
            value: "0916900931",
            style: {
              position: "absolute",
              fontSize: "1.5vw",
              top: "66%",
              left: "8%"
            }
          },
          {
            type: "text",
            name: "Address",
            value: "Ho Chi Minh, Viet Nam",
            style: {
              position: "absolute",
              fontSize: "1.5vw",
              top: "72%",
              left: "8%"
            }
          },
          {
            type: "text",
            name: "Favorite quote",
            value: "No one lives forever",
            style: {
              position: "absolute",
              fontSize: "2.5vw",
              textDecoration: "underline wavy",
              bottom: "4%",
              left: "8%"
            }
          }
        ]
      },
      {
        id: 3,
        theme: {
          position: "relative",
          color: "white",
          width: "100%",
          paddingBottom: "56.25%",
          backgroundSize: "cover",
          backgroundImage: 'url("https://i.imgur.com/qjXbcRF.gif")',
          backgroundPosition: "center",
          backgroundRepeat: "no-repeat"
        },
        fields: [
          {
            type: "text",
            name: "Full name",
            value: "Thanh Nguyen",
            style: {
              position: "absolute",
              textTransform: "uppercase",
              backgroundColor: "rgba(0, 0, 0, 0.4)",
              fontSize: "3vw",
              bottom: "15%",
              left: "8%"
            }
          },
          {
            type: "text",
            name: "Position",
            value: "Developer",
            style: {
              position: "absolute",
              backgroundColor: "rgba(0, 0, 0, 0.4)",
              fontSize: "1.5vw",
              bottom: "8%",
              left: "8%"
            }
          }
        ]
      },
      {
        id: 4,
        theme: {
          position: "relative",
          color: "white",
          width: "100%",
          paddingBottom: "56.25%",
          backgroundSize: "cover",
          backgroundImage:
            'url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/YqGSkmb/futuristic-technology-abstract-background_4k3v6uqwg__F0000.png")',
          backgroundPosition: "center",
          backgroundRepeat: "no-repeat"
        },
        fields: [
          {
            type: "text",
            name: "Full name",
            value: "Thanh Nguyen",
            style: {
              position: "absolute",
              textTransform: "uppercase",
              fontSize: "3vw",
              bottom: "12%",
              left: "8%"
            }
          },
          {
            type: "text",
            name: "Position",
            value: "Developer",
            style: {
              position: "absolute",
              fontSize: "1.5vw",
              bottom: "8%",
              left: "8%"
            }
          },
          {
            type: "text",
            name: "Skill",
            value: "Java",
            style: {
              position: "absolute",
              fontSize: "2vw",
              width: "30%",
              textAlign: "right",
              color: "red",
              textShadow: "1px 1px 10px #000",
              top: "26%",
              left: "21%"
            }
          },
          {
            type: "text",
            name: "Skill 2",
            value: "ReactJS",
            style: {
              position: "absolute",
              fontSize: "2vw",
              width: "30%",
              textAlign: "right",
              color: "cyan",
              textShadow: "1px 1px 10px #000",
              top: "48%",
              left: "21%"
            }
          },
          {
            type: "text",
            name: "Skill 3",
            value: "HTML, CSS",
            style: {
              position: "absolute",
              fontSize: "2vw",
              width: "30%",
              color: "orange",
              textShadow: "1px 1px 10px #000",
              top: "43%",
              right: "4%"
            }
          }
        ]
      }
    ]
  }),
  computed: {
    selectedTemplate() {
      return this.templates.find(t => t.id === this.selected);
    }
  },
  methods: {
    setTemplate(id) {
      console.log("SET TEMPLATE WITH ID: ", id);
      this.selected = id;
    }
  },
  components: {
    TemplateEditor,
    appTemplate: Template
  }
};
</script>
