<template>
  <div class="w-100 pa3">
    <theme-selector />
  </div>
</template>

<style>
html {
  font-family: "Roboto", sans-serif;
}
</style>

<script>
import ThemeSelector from "./components/ThemeSelector.vue";

export default {
  components: {
    ThemeSelector
  }
};
</script>
